DSW1_ELF_Alave/DSW1_ELF_Alave/Connected Services/ReferenciaNegocios/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53549/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="Clientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ClientesResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Paises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="PaisesResult" nillable="true" type="q2:ArrayOfPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedidoscabexyear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoscabexyearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="PedidoscabexyearResult" nillable="true" type="q3:ArrayOfPedidoscabe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedidoscabexcliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoscabexclienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="PedidoscabexclienteResult" nillable="true" type="q4:ArrayOfPedidoscabe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>